body {
  margin: 0;
  padding: 0;
  width:100%;
  height:100%;
  font-family: sans-serif;
  height: 100vh;
  background-color:#121d31 !important;
}

@media (min-width:1000px) {
  body {
    background: url("background.jpg") top; 
    background-size:cover;
  }
  
  .connexion, .inscription {
    width: 45%;
    text-align:center;
    margin: 0 auto;
    text-align:center;
    color:white;
  }
  
  .lien_inscription {
    width: 95%;
  }
  
  .theme {
    width: 30%;
  }
  
  .mode {
    width: 45%;
  }
  
  .question  {
    width:70%;
  }
  
  .questions {
    padding:10px;
  }
  
  .haut {
    display:flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
  }
  
  .invitation {
    color:white;
    text-align:right;
    position:absolute;
    top:30px;
    right:0;
    padding:30px;
  }
  
  .touslesthemes h2 {padding-bottom:30px;}
  
}


@media (max-width:1000px) {
  body {
    background: url("background_mobile.jpg") no-repeat top; 
    background-size:cover;
  }
  
  .invitation {
    color:white;
  }
  
  .connexion, .inscription {
    margin:10px;
    text-align:center;
    color:white;
    padding-bottom:100px;
  }
  
  .displaymobile {
    display:none;
  }
  
  .fa-chevron-left {
    position:absolute;
    top:30px;
    left:20px;
  }
  
  .lien_inscription {
    width: 86%;
  }
  
  .theme, .mode, .question {
    width: 100%;
    padding: 9px;
  }
}


h1 {
  text-align:center;
  color:white;
  font-size:40px;
  margin-top:15vh;
  text-shadow: 2px 2px 2px black;
}

a.mode {
    color: white;
    text-decoration: none;
}

.sous-titre {
  color:white;
  text-align:center;
  padding:0;
  margin-top:-30px;
  font-weight:600;
  padding-bottom:10px;
}

/*** MENUU **/
ul li a{
  color:white;
  text-decoration:none;
}

.lien_inscription {
  bottom: 100px;
}

.lien_inscription li {
    list-style-type: none; 
}

/******** connexion ******/

.formulaire, .themes {
  color:white;
  color: white;
    margin: 0 auto!important;
  margin: 20px;
}

.ensemble_champ {
  display: flex;
  flex-direction: column;
}

.formulaire span, .themes span {
  font-weight:600;
  color:white;
  text-align: left;
  padding-bottom:10px;
  padding-top:15px;
}

.champs {
  padding-left:15px;
  margin-top:60px;
  margin: 0px;
  padding-right:15px;
  padding-top:10px;
  padding-bottom:10px;
  color:#aaa;
}

.btn_commencer {
  background-color:#942c4f;
  padding-top:11px;
  margin-bottom: 15px;
  padding-bottom:11Px;
  font-weight:600;
  margin-top:20px;
  color:white;
  transition:0.3s;
  border:1px solid #942c4f;
  box-shadow: 1px 2px 17px #542339;
}

.btn_ajouter {
  background-color:#942c4f;
  padding-top:11px;
  padding-bottom:11Px;
  font-weight:600;
  margin-top:20px;
  color:white;
  transition:0.3s;
  border:1px solid #942c4f;
  box-shadow: 1px 2px 17px #542339;
}

.btn_commencer:hover, .btn_ajouter:hover {
  /*opacity:0.7;*/
  cursor:pointer;
  color:white;
  transition:0.3s;
  border:1px solid #eb9f93;
  background-color: rgb(233,146, 133);
  box-shadow: 1px 2px 17px #eb9f93;
}

/** inscription ***/
.mini {
  font-size:12px;
}


/*** theme **/
.Menu {
  width:100%;
  position:sticky;
  text-align:left;
}

@media(max-width:1000px) {
  .Menu {
  box-shadow: 1px 3px 17px #000;
    bottom: 0;
    background-color: #b5435d;
    width: 100%;
    position: fixed;
    margin:0;
  }
}

button {
  text-decoration:none;
  background:none;
  color:white;
  border:none;
  padding:10px;
}

button:hover {
  cursor:pointer;
}

.Menu li {
  list-style-type: none;
  display:inline-block;
  padding-left:30px;
}

ul {
  padding:0;
  margin:0;
}

a {
  color:white;
}

a:hover {
  color:#aaa;
}

ul li a:hover {color:#aaa;}

.Menu button:hover {
  cursor:pointer;
  color:#aaa;
}


.themes, .modes {
  justify-content: space-around;
	display:flex;
	flex-wrap:wrap;
  text-align:center;
  width:100%;
  align-item:center;
  color:white;
  margin:0 auto;
}

.erreur404 {
  font-size:100px;
}

.touslesquestions {
  color:white;
  margin:0 auto;
  text-align:center;
  padding-bottom:100px;
}

.questions {
  flex-wrap:wrap;
  display:flex;
  text-align:center;
  color:white;
  margin:0 auto;
}

.touslesquestions h2 {
  text-align:center;
  margin: 0 auto;
  padding-bottom:30px;
}

h2 {
  color:white;
  padding-top:10px;
}

.question {
  margin:auto;
}

.theme, .mode, .question {
  margin-top:10px;
  padding-top:30px;
  transition:0.4s;
  padding-bottom:30px;
  background-color: rgb(0, 0, 0, 0.3);
}

.theme:hover, .mode:hover, .question:hover  {
  cursor: pointer;
  -webkit-box-shadow: 1px 3px 17Px #000000;
  box-shadow: 1px 3px 17Px #000000;
  transition:0.4s;
}

.fa {
  padding-right:5px;
  font-size:20px;
}

p {
  color:white;
}

@media (max-width:992Px) {
  li.right {
    display:none;
  }
}

@media (min-width:992Px) {
  li.right {
    position:absolute;
    right:35px;
    top:37px;
    color:white;
  }
}


/**** multi **/
.ajouterjoueur {
  padding:10px;
  text-align:left;
}
